name: Run Python scraper

on:
  push:
    branches:
      - main
  schedule:
    # page is updated at 9am daily, timezone not specified; assume worst case of Pacific time + give 30 minutes
    - cron:  '30 5 * * *' # == Pacific time 9:30am

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python Environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Execute Python script
        run: |
          python scrape.py
        env:
          ENDPOINT: ${{ secrets.ENDPOINT }}

      - name: setup git config
        run: |
          git config user.name ${{ secrets.USERNAME }}
          git config user.email ${{ secrets.EMAIL }}

      - name: commit changes
        run: |
          chmod +x ./commit.sh
          ./commit.sh
